body{
    background-image: url(../foto_website/achtergrond.jpg);
    height: 100%;
    
    
    background-size: cover;
}

.parallax {
    /* The image used */
    background-image: url(../foto_website/achtergrond.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
  
    /* Set a specific height */
    min-height: 1000px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  
.hero-title__gradient-fade{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 290px;
  background-image: -webkit-gradient(linear,left bottom,left top,from(#fff),to(hsla(0,0%,100%,0)));
  background-image: linear-gradient(0deg,#fff,hsla(0,0%,100%,0));
  opacity: 0;
}
.text-block {
  position: relative;
  background-color: #fff;
}
.grid1{
  background-color: white;
  position: absolute;
  top: 1350px;
  height: 1000px;
  width: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}
.grid2{
  background-color: white;
  position: absolute;
  height: 1000px;
  top: 990px;
  width: 100%;
 
}
.BeforeScroll{
  opacity: 0;
  -webkit-transform: opacity(0);
  -ms-transform: opacity(0);
  transform: opacity(0); 
  transition: 5s;
  position: absolute;
  z-index: 100;
  color:black;
  width: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}
.AfterScroll{
  opacity: 1;
-webkit-transform: opacity(1);
-ms-transform: opacity(1);
transform: opacity(1); 
transition: 5s;
position: absolute;
z-index: 100;
color:black;
width: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}

.title{
  position: absolute;
  z-index: 100;
  font-weight: 900;
  color:black;
  top:940px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
  
}

.mail{
    position: relative;
    left: 380px;
    top: 25px;
}